@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* DELETE this block in globals.css */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

